name: Release

on:
  release:
    types: [published]
  workflow_dispatch:
  push:
    branches:
      - disgo

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod

      # # IMPORTANT: use older gcc for compatibility
      # - name: Install gcc-11
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y gcc-11 g++-11

      - name: Install libdave
        shell: bash
        env:
          NON_INTERACTIVE: 1
          # CC: gcc-11
          # CXX: g++-11
        run: |
          chmod +x ./scripts/libdave_install.sh
          ./scripts/libdave_install.sh v1.1.0

      - name: Build
        shell: bash
        run: |
          mkdir -p dist/linux_amd64

          GOOS=linux \
          GOARCH=amd64 \
          CGO_ENABLED=1 \
          go build -o \
            dist/linux_amd64/subcordant \
            ./cmd/main.go

      - name: Bundle libdave
        shell: bash
        run: |
          cp "$HOME/.local/lib/libdave.so" dist/linux_amd64/

      - name: Compress binaries
        shell: bash
        run: |
          mkdir -p dist/releases
          version=${GITHUB_REF_NAME}

          tar -czf \
            dist/releases/subcordant-${version}-linux-amd64.tar.gz \
            -C dist/linux_amd64 .

      - uses: actions/upload-artifact@v4
        with:
          name: release-linux-amd64
          path: dist/releases/*.tar.gz

  upload:
    if: github.event_name == 'release'
    runs-on: ubuntu-22.04
    needs: build
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist/releases

      - uses: softprops/action-gh-release@v1
        with:
          files: dist/releases/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
