name: Release

on:
  release:
    types: [published]
  workflow_dispatch:
  push:
    branches:
      - disgo

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            goos: linux
            goarch: amd64
            libname: libdave.so

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod

      - name: Install libdave
        shell: bash
        run: |
          chmod +x ./scripts/libdave_install.sh
          ./scripts/libdave_install.sh v1.1.0
        env:
          NON_INTERACTIVE: 1

      - name: Set binary name
        id: binname
        shell: bash
        run: |
          echo "binary_name=subcordant" >> $GITHUB_OUTPUT

      - name: Build
        shell: bash
        run: |
          mkdir -p dist/${{ matrix.goos }}_${{ matrix.goarch }}

          GOOS=${{ matrix.goos }} \
          GOARCH=${{ matrix.goarch }} \
          CGO_ENABLED=1 \
          go build -o \
            dist/${{ matrix.goos }}_${{ matrix.goarch }}/${{ steps.binname.outputs.binary_name }} \
            ./cmd/main.go

      - name: Bundle libdave
        shell: bash
        run: |
          TARGET=dist/${{ matrix.goos }}_${{ matrix.goarch }}
          cp "$HOME/.local/lib/${{ matrix.libname }}" $TARGET/

      - name: Compress binaries
        shell: bash
        run: |
          mkdir -p dist/releases

          version=${GITHUB_REF_NAME}

          tar -czf \
            dist/releases/subcordant-${version}-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz \
            -C dist/${{ matrix.goos }}_${{ matrix.goarch }} .

      - uses: actions/upload-artifact@v4
        with:
          name: release-${{ matrix.goos }}-${{ matrix.goarch }}
          path: dist/releases/*.tar.gz

  upload:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist/releases

      - uses: softprops/action-gh-release@v1
        with:
          files: dist/releases/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
